/* styles.css */

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #f2f2f2;
}

.product-row td {
    border-top: 1px solid #ddd;
}

.item-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.item-table th,
.item-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.item-table th {
    background-color: #f2f2f2;
}

.product-row td {
    border-top: 1px solid #ddd;
}

.frame-post {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}