/* Chart.css */
.chart-container {
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-start;
  margin-top: 20px;
}

.chart-card {
  width: 30%;
  min-width: 300px;
  top: 20px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-card canvas {
  max-height: 300px;
}

@media (max-width: 768px) {
  .chart-card {
    width: 100%;
  }
}
.chart-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
}

