* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.link_text {
    font-weight: bold;
}

.sidebar {
    background: #f0934c;
    color: #fff;
    width: 20%;
    max-width: 200px;
    height: 100%;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 1.6rem;
}

.bars {
    display: flex;
    font-size: 1.6rem;
    margin-left: auto;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: lightskyblue;
    color: #000;
}

.active {
    background: lightskyblue;
    color: #000;
}

.icon,
.link_text {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .sidebar {
        width: 25%;
    }

    .logo,
    .icon,
    .link_text {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .a {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        max-width: none;
    }

    .top_section,
    .link {
        justify-content: center;
    }

    .bars {
        margin-left: 0;
    }
}

.main-content {
    transition: margin-left 0.5s ease;
    padding: 20px;
}

.sidebar-expanded .main-content {
    margin-left: 250px;
}

.sidebar-collapsed .main-content {
    margin-left: 50px;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logout-section {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

.user-list-container .list-group-item {
    background-color:rgb(195, 200, 204);

}